In [4]:
from time import sleep

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions as F

In [5]:
spark = SparkSession. \
    builder. \
    appName("Data Sources"). \
    master("local"). \
    getOrCreate()
spark.sparkContext.setLogLevel("WARN")

In [6]:
trips_df = spark.read.csv('D:/ECONOMICS/Taxi_Trips.csv', sep=',', header=True, inferSchema=True)

In [7]:
trips = trips_df.withColumn("trip_start", F.to_timestamp(col("Trip Start Timestamp"), "MM/dd/yyyy hh:mm:ss a"))
trips.createOrReplaceTempView('taxitrip')

In [11]:
trips.schema()

TypeError: 'StructType' object is not callable

In [10]:
# Количество поезок по месяцам
trips_by_month = spark.sql("\
                SELECT \
                    month(trip_start) as `trip_month`, COUNT(`Trip ID`) \
                FROM taxitrip GROUP BY `trip_month` \
                ORDER BY `trip_month` ASC")
trips_by_month.show()

+----------+--------------+
|trip_month|count(Trip ID)|
+----------+--------------+
|      NULL|             5|
|         1|        215752|
|         2|        166104|
|         3|         74085|
|         4|        820846|
|         5|       1537021|
|         6|        670191|
|         7|         89630|
|         8|         79904|
|         9|        496784|
|        10|        554199|
|        11|        263255|
|        12|        144619|
+----------+--------------+

In [13]:
# TOP10 с максимальной выручкой
top10 = spark.sql("\
                SELECT \
                    Company, SUM(`Trip Total`) AS `Total Income` \
                FROM taxitrip GROUP BY Company \
                ORDER BY `Total Income` DESC LIMIT 10")
top10.show()

+--------------------+--------------------+
|             Company|        Total Income|
+--------------------+--------------------+
|           Flash Cab|3.3505499319999713E7|
|Taxi Affiliation ...|   9013466.020000141|
|Chicago Carriage ...|   7744671.869999993|
|            Sun Taxi|   5640038.470000002|
|    Medallion Leasin|   5068980.870000006|
|        City Service|   4440119.959999998|
|          Yellow Cab|  3918943.4899999867|
|Star North Manage...|   2587820.399999989|
|Blue Ribbon Taxi ...|  2049790.7399999946|
|Taxi Affiliation ...|  2015423.4599999995|
+--------------------+--------------------+

In [ ]:
dd = spark.sql("SELECT DIF, COUNT(`Trip ID`) FROM taxitrip GROUP BY `Company` LIMIT 10")
dd.show()